<div class="navigation">
    <ul>
        <li class="list" >
            <a [routerLink]="'/inclusao'"><span class="icon" style="color: blueviolet;"><i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="margin-top: 5px;"></i></span>
                <span class="title">Adicionar</span></a>

        </li>
        <li class="list" >
            <a [routerLink]="'/monitor-financeiro'"><span class="icon" ><i class="fa fa-home" aria-hidden="true"></i></span>
                <span class="title">Home</span></a>

        </li>
        <li class="list">
            <a [routerLink]="'/usuário'"><span class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                <span class="title">Usuário</span></a>

        </li>
        <li class="list" >
            <a [routerLink]="'/mensagens'"><span class="icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <span class="title">Mensagens</span></a>

        </li>
    </ul>

</div>