.informativos {

    margin-top: 10px;
    width: 250px;
    height: 70px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    /* z-index: 2; */
}


h6 {
    font-size: 15px;
    margin: 0;
}

span {
    font-size: 17px;
    font-weight: bold;
}

.mes-procura{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ajuste-graph{
    margin-left: auto;
    margin-right: auto;
}

.graph-categorias-1{
    height: 350px;
}
.graph-categorias-2{
    height: 350px;
}


/* .icons{
    height: 0px;
} */

/* //Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
    .ajustes {
        margin-left: 20%;
        margin-right: auto;
    }
    .icons{
        display: none;
    }
    .mes-procura{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }

    .ajuste-graph{
        margin-left:20%;
        margin-right: auto;
    }

    .graph-categorias-1{
        
        height: 250px;
    }
    .graph-categorias-2{
        margin-top: 15px;
        height: 250px;

    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 800px) {

    .ajustes {
        margin-left: 20%;
        margin-right: auto;
    }
    .icons{
        display: none;
    }
    .mes-procura{
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }

    .ajuste-graph{
        margin-left:20%;
        margin-right: auto;
    }

    .graph-categorias-1{
        /* margin-top: 15px; */
        height: 250px;
    }
    .graph-categorias-2{
        /* margin-top: 15px; */
        height: 250px;

    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { .icons{
    display: block;
}}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .icons{
    display: block;
}}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { .icons{
    display: block;
}}